.personContainer {
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    margin-block: 10px;
    flex-wrap: wrap;
    min-width: 280px;
    gap: 20px;
    padding-inline: 10px;
    justify-content: space-between;
}

.title {
    color: black;
    font-weight: bold;
}

p {
    color:black;
    font-size: 16px;
}

.containerInfo {
    flex: 1
}